/* Pre-Made Classes */

.hide
{
    display: none;
}

.show
{
    display: block;
}

.grid
{
    display: grid;
}

.inline
{
    display: inline;
}

.scroll-lock
{
    overflow: hidden;
}

/* Start-Up */

body
{
margin: 0;
padding: 0;
background-image: url("img/tweede\ kamer.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#pagecontainer
{
    width: 100%;
    z-index: 1;
}

#intro-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#contributors-overview-modal
{
    background-color: white;
    color: black;
    width: 50%;
    min-height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#stemwijzer-logo
{
    grid-area: 1/1/2/6;
    width: 100%;
    margin: auto;
}

#starText
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 3/2/4/5;
}

#contributors-text
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 1/2/2/5;
}

#contributors-container
{
    grid-area: 2/1/3/6;
    display: grid;
    grid-template-columns: repeat(12, 8.35%);
    grid-template-rows: 2;
}

#non-contributors-text
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 4/2/5/5;
}

#non-contributors-container
{
    grid-area: 5/1/6/6;
    display: grid;
    grid-template-columns: repeat(12, 8.35%);
    grid-template-rows: 2;
}

#non-contributors-container img
{
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: .7vh;
    transition: .3s;
}

#non-contributors-container img:hover
{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

#contributors-container img
{
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: .7vh;
    transition: .3s;
}

#contributors-container img:hover
{
    cursor: pointer;
    background-color: rgb(0, 153, 255);
}

#stemwijzer-startbutton
{
    margin: 0 auto;
    grid-area: 4/2/5/5;
    width: 50%;
    font-size: 3vh;
    padding: 0;
    font-weight: 1000;
    background-color: lightskyblue;
    border: none;
    border-radius: 2vh;
    outline: none;
}

#stemwijzer-startbutton:hover
{
    cursor: pointer;
    background-color: blue;
}

/* Loading */

#loading-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#loading-text
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 3/2/4/5;
}

#loading-icon
{
    width: 10vh;
    margin: 0 auto;
    grid-area: 4/3/5/4;
}

/* Stellingen */

#stellingen-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#stelling-title
{
    grid-area: 2/1/3/6;
    text-align: center;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

#stelling-text
{
    grid-area: 3/1/4/6;
    text-align: center;
    font-size: 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#skip-button
{
    grid-area: 5/2/6/5;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#disagree-button
{
    grid-area: 4/2/5/3;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#neither-button
{
    margin: 0 auto;
    grid-area: 4/3/5/4;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#agree-button
{
    margin: 0 auto;
    grid-area: 4/4/5/5;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#contributors-opinion-modal
{
    background-color: white;
    color: black;
    width: 50%;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 10%);
}

#agree-opinions
{
    grid-area: 2/1/6/2;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#disagree-opinions
{
    grid-area: 2/5/6/6;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#multiplier-button
{
    grid-area: 5/5;
    border-radius: 200px;
    background-color: black;
    color: white;
    border: none;
    margin: 10% 10%;
    outline: none;
}

#multiplier-button:hover
{
    cursor: pointer;
}

#multiplier-button:active
{
    background-color: rgb(0, 191, 255);
    color: red;
}

#neither-opinions
{
    font-size: 1.5vh;
    grid-area: 2/3/6/4;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#opinion-button
{
    outline: none;
    border: none;
    background-color: white;
    font-size: 1.5vh;
    grid-area: 1/4/2/5;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#opinion-button:hover
{
    cursor: pointer;
    color: lightskyblue;
}

#speech-balloon
{
    grid-area: 1/5/2/6;
    width: 75%;  
    margin: 0 auto;  
}

#skip-button:hover, .previous-button:hover, #disagree-button:hover, #agree-button:hover, #neither-button:hover
{
    cursor: pointer;
    background-color: rgb(0, 191, 255);
}

.previous-button
{
    margin: 0 auto;
    grid-area: 1/1/2/2;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#progress-bar
{
    transition: .5s;
    position: relative;
    left: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-align: center;
    margin-top: 4vh;
    margin-right: auto;
    height: 5vh;
    width: 0;
    background-color: lightskyblue;
}

#opinion-text
{
    text-align: center;
    grid-area: 1/1/2/6;
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 50%;
}

.party-opinion-button
{
    margin: 0 auto;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 1vh;
    margin-top: 2vh;
}

.party-opinion-button:hover
{
    cursor: pointer;
    background-color: grey;
}

#opinion-popup-modal
{
    z-index: 2;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

#real-opinion
{
    text-align: center;
    margin: 20vh auto;
    width: 70%;
    height: 50vh;
    background-color: white;
    z-index: 2;
    padding: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}
#opinion-popup-modal button
{
    margin-top: 20vh;
    text-align: center;
    outline: none;
    border: none;
    width: 50%;
    border-radius: 1vh;
    height: 7vh;
    font-size: 2vh;
}

#opinion-popup-modal button:hover
{
    cursor: pointer;
    background-color: grey;
}

/* Result */

.preference-buttons
{
    margin: 0 auto;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 1vh;
    height: 6vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

#result-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#result-text
{
    grid-area: 2/1/3/6;
    text-align: center;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;    
}

#party-container
{
    grid-area: 3/1/6/6;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(8, 12.5%);
}

.partyy
{
    margin: 0 auto;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 1vh;
    height: 6vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

.partyy:hover, .party-chosen:hover, .volgende:hover, .preference-buttons:hover
{
    cursor: pointer;
    background-color: rgb(0, 191, 255);
}

.party-chosen
{
    margin: 0 auto;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 1vh;
    height: 6vh;
    color: white;
    background-color: chartreuse;
}

.party-chosen:hover
{
    background-color: chartreuse;
}

.volgende
{
    margin: 0 auto;
    grid-area: 1/5;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
    background-color: black;
    color: white;
}

/* Ranking */

#ranking-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;

}

#nrr1, #nrr2, #nrr3
{
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    color: rgb(204, 204, 70);    
    font-family: Arial, Helvetica, sans-serif;
}

.place
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    margin: 0 auto; 
}