/* Pre-Made Classes */

.hide
{
    display: none;
}

.show
{
    display: block;
}

.grid
{
    display: grid;
}

/* Start-Up */



body
{
margin: 0;
padding: 0;
background-image: url("img/tweede\ kamer.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#pagecontainer
{
    width: 100%;
}

#intro-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#contributors-overview-modal
{
    background-color: white;
    color: black;
    width: 50%;
    min-height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#contributors-opinion-modal
{
    background-color: white;
    color: black;
    width: 50%;
    min-height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#stemwijzer-logo
{
    grid-area: 1/1/2/6;
    width: 100%;
    margin: auto;
}

#starText
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 3/2/4/5;
}

#contributors-text
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 1/2/2/5;
}

#contributors-container
{
    grid-area: 2/1/3/6;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(11, 8.45%);
    grid-template-rows: 2;
}

#contributors-container img
{
    width: 100%;
    border-radius: .7vh;
    transition: .3s;
}

#contributors-container img:hover
{
    cursor: pointer;
    background-color: lightgray;
}

#stemwijzer-startbutton
{
    margin: 0 auto;
    grid-area: 4/2/5/5;
    width: 50%;
    font-size: 3vh;
    padding: 0;
    font-weight: 1000;
    background-color: lightskyblue;
    border: none;
    border-radius: 2vh;
    outline: none;
}

#stemwijzer-startbutton:hover
{
    cursor: pointer;
    background-color: blue;
}



/* Loading */

#loading-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#loading-text
{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    margin: 0;
    font-size: 3vh;
    grid-area: 3/2/4/5;
}

#loading-icon
{
    width: 10vh;
    margin: 0 auto;
    grid-area: 4/3/5/4;
}

/* Stellingen */

#stellingen-modal
{
    background-color: white;
    color: black;
    width: 50%;
    height: 60vh;
    margin: 20vh auto;
    padding: 5vh;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

#stelling-title
{
    grid-area: 2/1/3/6;
    text-align: center;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
}

#stelling-text
{
    grid-area: 3/1/4/6;
    text-align: center;
    font-size: 2vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#skip-button
{
    grid-area: 5/2/6/5;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
}

#disagree-button
{
    grid-area: 4/2/5/3;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
}

#neither-button
{
    margin: 0 auto;
    grid-area: 4/3/5/4;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
}

#agree-button
{
    margin: 0 auto;
    grid-area: 4/4/5/5;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
}

#opinion-button
{
    outline: none;
    border: none;
    background-color: white;
    font-size: 1.5vh;
    grid-area: 1/4/2/5;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#opinion-button:hover
{
    cursor: pointer;
    color: lightskyblue;
}

#speech-balloon
{
    grid-area: 1/5/2/6;
    width: 75%;  
    margin: 0 auto;  
}

#skip-button:hover, #previous-button:hover, #disagree-button:hover, #agree-button:hover, #neither-button:hover
{
    cursor: pointer;
    background-color: gray;
}

#previous-button
{
    margin: 0 auto;
    grid-area: 1/1/2/2;
    outline: none;
    border: none;
    width: 70%;
    border-radius: 1vh;
    height: 5vh;
    font-size: 70%;
}